# Setting Up Your Blog
#meta tag_name Article Tags
#meta tags[] elixir erlang
## April 20, 2019

Welcome to your [Elixir](http://elixir-lang.org)-driven [techblog](https://github.com/aforward-oss/techblog).  This blog takes your content written in [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) and compiles it to HTML using [Earmark](https://github.com/pragdave/earmark).  Let's say you wanted to write an article "How to deploy using docker", then create two files:

* how-to-deploy-using-docker.md
* how-to-deploy-using-docker.summary.md

A summary of your article will be in `how-to-deploy-using-docker.summary.md`.  The first line should be your title, and usually the date is your second line. But it's all in markdown so it's really up to you

```markdown
# How to deploy using docker
## February 11, 2019

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
```

Your full article will be written in `how-to-deploy-using-docker.md`.  This is accessed by clicking on the `Read More` link you see below.